<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="Pick_and_Place_Bot">
    <xacro include="my_materials.urdf.xacro"/>
    <link>
        <visual>
            <geometry>
                <box size="0.1 0.1 0.1"/>
            </geometry>
        </visual>
    </link>
</robot>